/* body */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:blanchedalmond;
}




/* Board */

#board {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    cursor: crosshair;
    background-color: rgb(179, 193, 128);
    position: relative;
}

/* tiles */
.tile {
    color: red;
    background-color: aliceblue;
    margin: 10px;
    border: 10px solid black;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strike {
    position: absolute;
    background-color:rgb(42, 174, 211);

}

.strikeRowT {
    width: 100%;
    height: 7px;
    top: 17%;
}
.strikeRowM {
    width: 100%;
    height: 7px;
    top: 51%;
}
.strikeRowB { 
    width: 100%;
    height: 7px;
    top: 84%;
}
.strikeColL {
    width: 7px;
    height: 100%;
    left: 16%;
}
.strikeColM {
    width: 7px;
    height: 100%;
    left: 49.5%;
}
.strikeColR {
    width: 7px;
    height: 100%;
    left: 83%;
}
.strikeDiaLR {
    width: 90%;
    height: 10px;
    top: 50%;
    left: 5%;
    transform: skewY(45deg);
}
.strikeDiaRL {width: 90%;
    height: 10px;
    top: 50%;
    left: 5%;
    transform: skewY(135deg);
}

/* Winner Area */
#gameOverArea {
    text-align: center;
    border: 8px solid black;
    padding: 50px;
    width: 50%;
    margin-top: 50px;
}

h2 {
    font-size: 3em;
}

button{
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}



/* is it visible classes */
.visible {
    display: block;
}

.hidden {
    display: none;
}